<div id="<%= dom_id business_owner_profile %>">
  <p>
    <strong>Lister name:</strong>
    <%= business_owner_profile.lister_name %>
  </p>

  <p>
    <strong>Lister designation:</strong>
    <%= business_owner_profile.lister_designation %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= business_owner_profile.company_name %>
  </p>

  <p>
    <strong>Addr1:</strong>
    <%= business_owner_profile.Addr1 %>
  </p>

  <p>
    <strong>Addr2:</strong>
    <%= business_owner_profile.Addr2 %>
  </p>

  <p>
    <strong>Taluk:</strong>
    <%= business_owner_profile.Taluk %>
  </p>

  <p>
    <strong>District:</strong>
    <%= business_owner_profile.District %>
  </p>

  <p>
    <strong>State:</strong>
    <%= business_owner_profile.State %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= business_owner_profile.Country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= business_owner_profile.phone %>
  </p>

  <p>
    <strong>User:</strong>
    <%= business_owner_profile.user_id %>
  </p>

</div>
