<p style="color: green"><%= notice %></p>

<%= render @business_owner_profile %>

<div>
  <%= link_to "Edit this business owner profile", edit_business_owner_profile_path(@business_owner_profile) %> |
  <%= link_to "Back to business owner profiles", business_owner_profiles_path %>

  <%= button_to "Destroy this business owner profile", @business_owner_profile, method: :delete %>
</div>
