<div id="<%= dom_id farmer_profile %>">
  <p>
    <strong>Name:</strong>
    <%= farmer_profile.name %>
  </p>

  <p>
    <strong>Addr1:</strong>
    <%= farmer_profile.Addr1 %>
  </p>

  <p>
    <strong>Addr2:</strong>
    <%= farmer_profile.Addr2 %>
  </p>

  <p>
    <strong>Taluk:</strong>
    <%= farmer_profile.Taluk %>
  </p>

  <p>
    <strong>District:</strong>
    <%= farmer_profile.District %>
  </p>

  <p>
    <strong>State:</strong>
    <%= farmer_profile.State %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= farmer_profile.Country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= farmer_profile.phone %>
  </p>

  <p>
    <strong>User:</strong>
    <%= farmer_profile.user_id %>
  </p>

</div>
