<p style="color: green"><%= notice %></p>

<%= render @farmer_profile %>

<div>
  <%= link_to "Edit this farmer profile", edit_farmer_profile_path(@farmer_profile) %> |
  <%= link_to "Back to farmer profiles", farmer_profiles_path %>

  <%= button_to "Destroy this farmer profile", @farmer_profile, method: :delete %>
</div>
