<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div>
    <%= form.label :lister_name, style: "display: block" %>
    <%= form.text_field :lister_name %>
  </div>

  <div>
    <%= form.label :lister_designation, style: "display: block" %>
    <%= form.text_field :lister_designation %>
  </div>

  <%if !current_user.role%>
    <div>
      <%= form.label :company_name, style: "display: block" %>
      <%= form.text_field :company_name %>
    </div>
  <%end%>

  <div>
    <%= form.label :Addr1, style: "display: block" %>
    <%= form.text_area :Addr1 %>
  </div>

  <div>
    <%= form.label :Addr2, style: "display: block" %>
    <%= form.text_area :Addr2 %>
  </div>

  <div>
    <%= form.label :Taluk, style: "display: block" %>
    <%= form.text_field :Taluk %>
  </div>

  <div>
    <%= form.label :District, style: "display: block" %>
    <%= form.text_field :District %>
  </div>

  <div>
    <%= form.label :State, style: "display: block" %>
    <%= form.text_field :State %>
  </div>

  <div>
    <%= form.label :Country, style: "display: block" %>
    <%= form.text_field :Country %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
