<div id="<%= dom_id profile %>">
    <p>
    <strong>Lister name:</strong>
    <%= profile.lister_name %>
  </p>

  <p>
    <strong>Lister designation:</strong>
    <%= profile.lister_designation %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= profile.company_name %>
  </p>

  <p>
    <strong>Addr1:</strong>
    <%= profile.Addr1 %>
  </p>

  <p>
    <strong>Addr2:</strong>
    <%= profile.Addr2 %>
  </p>

  <p>
    <strong>Taluk:</strong>
    <%= profile.Taluk %>
  </p>

  <p>
    <strong>District:</strong>
    <%= profile.District %>
  </p>

  <p>
    <strong>State:</strong>
    <%= profile.State %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= profile.Country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= profile.phone %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
