<div id="<%= dom_id listing %>">
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Price per unit:</strong>
    <%= listing.price_per_unit %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Available quantity:</strong>
    <%= listing.available_quantity %>
  </p>

</div>
