<h1>Hello User</h1>

<p> your number is <%= @user.phone%> </p>
<% if @user.role == 0%>
    <p> You are a farmer </p>
<%else%>
    <p> You are a Small Scale Business Owner </p>
<%end%>
<%= link_to "Create Listing", new_listing_path %>
<hr/>
<% count = 0%>
<hr/>
<hr/>
<hr/>
<div class="nearby-listings">
<% if @listings != nil %>
    <% @listings.each do |listing|%>
        <% count += 1%>
        <hr/>
        <p>Title of listing: <%= listing.title%></p>
        <p>Price of listing: <%= listing.price_per_unit%></p>
        <p>available quantity of listing: <%= listing.available_quantity%></p>
        <p> Total Cost: <%= listing.price_per_unit * listing.available_quantity %> </p>
        <hr/>


        <% if listing.primary_image.attached? %>
            <img src="<%= url_for(listing.primary_image) %>" alt="Primary Image">
        <% end %>

        <% if listing.additional_image_1.attached? %>
            <img src="<%= url_for(listing.additional_image_1) %>" alt="Additional Image 1">
        <% end %>

        <% if listing.additional_image_2.attached? %>
            <img src="<%= url_for(listing.additional_image_2) %>" alt="Additional Image 2">
        <% end %>
            
    <% end %>
<%else%>
    <h1> Near Listings </h1>
    <% @nearby_listings.each do |listing|%>
        <% count += 1%>
        <hr/>
        <p>Title of listing: <%= listing.title%></p>
        <p>Price of listing: <%= listing.price_per_unit%></p>
        <p>Address of listing: <%= listing.address%></p>
        <p>available quantity of listing: <%= listing.available_quantity%></p>
        <p> Total Cost: <%= listing.price_per_unit * listing.available_quantity %> </p>
        <hr/>


        <% if listing.primary_image.attached? %>
            <img src="<%= url_for(listing.primary_image) %>" alt="Primary Image">
        <% end %>

        <% if listing.additional_image_1.attached? %>
            <img src="<%= url_for(listing.additional_image_1) %>" alt="Additional Image 1">
        <% end %>

        <% if listing.additional_image_2.attached? %>
            <img src="<%= url_for(listing.additional_image_2) %>" alt="Additional Image 2">
        <% end %>
            
    <% end %>
    <h1> Other Listings </h1>
    <% @other_listings.each do |listing|%>
        <% count += 1%>
        <hr/>
        <p>Title of listing: <%= listing.title%></p>
        <p>Price of listing: <%= listing.price_per_unit%></p>
        <p>available quantity of listing: <%= listing.available_quantity%></p>
        <p> Total Cost: <%= listing.price_per_unit * listing.available_quantity %> </p>
        <hr/>


        <% if listing.primary_image.attached? %>
            <img src="<%= url_for(listing.primary_image) %>" alt="Primary Image">
        <% end %>

        <% if listing.additional_image_1.attached? %>
            <img src="<%= url_for(listing.additional_image_1) %>" alt="Additional Image 1">
        <% end %>

        <% if listing.additional_image_2.attached? %>
            <img src="<%= url_for(listing.additional_image_2) %>" alt="Additional Image 2">
        <% end %>
            
    <% end %>

<%end%>
</div>

<%= count%>
<hr/>